<!DOCTYPE html>
<html lang="zh-hans-mn" data-ng-app="deapp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js" type="text/javascript" charset="utf-8"></script>		
	</head>
	<body>
	  <div data-ng-controller="MainController as vm">
	    <p>总额：{{ vm.items | sumOfItems:'money' }}</p>
	    <div data-ng-repeat="item in vm.items">
	      <span>{{ item.name }}</span>
	      <span>{{ item.money }}</span>
	    </div>
	    <button data-ng-click="vm.addItem()">新增支出</button>
	  </div>
	</body>
	<script type="text/javascript" charset="UTF-8">
		//index.js
		angular.module('deapp', []).controller('MainController', ['$scope', MainController]);
		
		function MainController($scope) {
		  var vm = this;
		  vm.items = [
		    {
		      name: '早餐',
		      money: 4
		    },
		    {
		      name: '午餐',
		      money: 13
		    },
		    {
		      name: '晚餐',
		      money: 13
		    }
		  ];
		
		  vm.addItem = addItem;
		
		  function addItem() {
		    var item = {
		      name: '零食',
		      money: 5
		    };
		    vm.items.push(item);
		  }
		
		  return vm;
		}
		
		//filter.js
		angular.module('deapp').filter('sumOfItems', sumOfItems);
		
		function sumOfItems() {
		  return function(data, key){
		    if(typeof(data) === undefined || typeof(key) === undefined ) {
		      return 0;
		    }
		
		    var sum = 0,
		        i = data.length - 1;
		
		    for(; i >= 0; i--) {
		      sum += parseInt(data[i][key]);
		    }
		
		    return sum;
		  };
		}
	</script>
</html>
