/*footer*/

.footer-panel {
	padding: 10px 0 20px;
	overflow: hidden;
	zoom: 1;
	background-color: #363636;
	color: #aaa;
	font: 12px '宋体';
	text-align: center;
}

.footer-panel a {
	color: #aaa;
	font: 12px '宋体';
	margin: 0 13px;
}

.footer-panel a:hover {
	color: #dd4119
}

.footer-panel img {
	vertical-align: middle;
}


/*新底部样式 start*/

.footer-panel .item0 {
	width: 1200px;
	margin: 5px auto;
	margin-bottom: 9px;
	color: #686868;
	font: 14px 'Microsoft YaHei';
}

.footer-panel .item0 a {
	float: left;
	color: #686868;
	font: 14px 'Microsoft YaHei';
	margin: 0 3px;
}

.footer-panel .item0 a:hover {
	color: #dd4119
}

.footer-panel .item0 span {
	float: left;
	margin: 0 2px;
}


/*end*/

.footer-panel .item1 {
	width: 1200px;
	margin: 0 auto;
	padding-top: 20px;
}

.footer-panel .newadd {
	line-height: 30px;
	width: 1200px;
	margin: 0 auto;
}

.footer-panel .item2 {
	margin-top: 0px;
}

.footer-panel .item3 {
	margin-top: 10px;
}

.footer-panel .item3 span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(baidu.gif?__sprite) no-repeat;
	vertical-align: middle;
	margin: 0 4px;
}

.footer-panel .item4 {}

.footer-panel .item5 {
	padding-top: 10px;
	background-color: #f2f2f2;
	overflow: hidden;
}

.footer-panel .item4 i {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 15px;
}

.footer-panel .item4 .copyright1 {
	background: url(copyright1.gif?__sprite) no-repeat;
	width: 15px;
	height: 19px;
}

.footer-panel .item4 .copyright2 {
	background: url(copyright2.gif?__sprite) no-repeat;
	width: 44px;
	height: 30px;
}

.footer-panel .item4 .copyright3 {
	background: url(copyright3.gif?__sprite) no-repeat;
	width: 14px;
	height: 30px;
}

.footer-panel .item4 .copyright4 {
	background: url(copyright4.gif?__sprite) no-repeat;
	width: 13px;
	height: 30px;
}

.footer-panel .item4 .copyright5 {
	background: url(copyright5.gif?__sprite) no-repeat;
	width: 30px;
	height: 30px;
}

.footer-panel .item4 .text {
	display: inline-block;
	zoom: 1;
}

.footer-panel .div1 {
	position: relative;
	overflow: hidden;
	height: 40px;
}

.footer-panel .div1 a {
	margin: 0 9px;
	display: inline-block;
	height: 20px;
}

.footer-panel .div1 i.cn360 {
	display: inline-block;
	zoom: 1;
	width: 39px;
	height: 40px;
	background: url(gameRFID.png?__sprite) no-repeat;
	vertical-align: middle;
}

.footer-panel .div1 i.shiming {
	display: inline-block;
	zoom: 1;
	width: 83px;
	height: 30px;
	background: url(copyright6.png?__sprite) no-repeat;
	vertical-align: middle;
}

.footer-panel .div1 i.anquan {
	display: inline-block;
	zoom: 1;
	width: 83px;
	height: 30px;
	background: url(copyright7.png?__sprite) no-repeat;
	vertical-align: middle;
}

.b-footer-gzflag .gongshang {
	height: 40px;
	background: url(copyright8.png) no-repeat 0 0;
	width: 32px;
	display: block;
	margin-top: -4px;
}