<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/price2.css"/>
<!--<link href='//cdn.webfont.youziku.com/webfonts/nomal/27051/37057/5821d2eaf629d80e5080b07a.css' rel='stylesheet' type='text/css' />-->


</head>
<body ng-controller="myAngular" class="ng-scope">
<!--导航--> 
<div class="nav_main">
    <div class="nav_main_center auto clearfix">
        <div class="logo left">
            <strong><img src="images/logo.png" alt=""></strong>
        </div>
  
        <div class="nav_nav_center left">
            <ul>
                <li id="nav_product"><a href='#'>产品</a><span></span></li>
                <li id="nav_solve"><a href='#'>解决方案</a><span></span></li>
                <li id="nav_market"><a href='#'>云超市</a><span></span></li>
                <li id="nav_partner"><a href='#'>合作与生态</a><span></span></li>
                <li id="nav_api"><a href='#'>文档</a><span></span></li>
                <li id="nav_support"><a href='#'>支持</a><span></span></li>
            </ul>
            <div class="kuang"></div>
        </div>

        <div class="nav_nav_you left">
            <ul>
                <li><a href="#">价格计算器</a></li>
                <li>|</li>
                <li><a href="#">控制台</a></li>
                <li>|</li>
                <li><a href="#">登录</a></li>
                <li>|</li>
                <li><a href="#">注册</a></li>
            </ul>
        </div>
    </div>

    <div class="nav_float">
        <!-- 产品 -->
            <div class="index_nav_product">
                <div class="nav_left_title">
                    <h3 class="left">银盾云产品服务</h3>
                    <div class="xian left"></div>
                </div>
                <div class="nav_product_list left">
                    <ul>
                        <li class="nav_list_color" id="js_zi_yun">
                            <a href="#">云计算</a>
                        </li>
                        <li id="js_zi_cun"><a href="#">云存储</a></li>
                        <li id="js_zi_inter"><a href="#">云网络</a></li>
                        <li id="js_zi_cdn"><a href="#">CDN</a></li>
                        <li id="js_zi_bo"><a href="#">直播</a></li>
                        <li id="js_zi_im"><a href="#">IM</a></li>
                    </ul>
                </div>
                     <!-- 云计算 -->
                <div class="nav_product_content left" style="display:block;">
                    <ul>
                        <li class="nav_list_color">
                            <a href="#">EC云主机</a>
                            <p>安全、编写、速度均衡</p>
                        </li>
                         <li>
                            <a href="#">EC云主机</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机</a>
                            <p>安全、编写、速度均衡</p>
                        </li>
                        

                    </ul>
                </div> 
                           <!-- 云存储  -->
                <div class="nav_product_cunchu left">
                    <ul>
                        <li class="nav_list_color">
                            <a href="#">EC云主机2</a>
                            <p>安全、编写、速度均衡</p>
                        </li>
                         <li>
                            <a href="#">EC云主机2</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机2</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机2</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机2</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机2</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机2</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机2</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机2</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机2</a>
                            <p>安全、编写、速度均衡</p>
                        </li>
                        

                    </ul>
                </div> 
                <!-- 云网络  -->
                <div class="nav_product_inter left">
                    <ul>
                        <li class="nav_list_color">
                            <a href="#">EC云主机3</a>
                            <p>安全、编写、速度均衡</p>
                        </li>
                         <li>
                            <a href="#">EC云主机3</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机3</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机3</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机3</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机3</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机3</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机3</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机3</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机3</a>
                            <p>安全、编写、速度均衡</p>
                        </li>
                        

                    </ul>
                </div> 
                <!--    cdn   -->
                <div class="nav_product_cnd left">
                    <ul>
                        <li class="nav_list_color">
                            <a href="#">EC云主机4</a>
                            <p>安全、编写、速度均衡</p>
                        </li>
                         <li>
                            <a href="#">EC云主机4</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机4</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机4</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机4</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机4</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机4</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机4</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机4</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机4</a>
                            <p>安全、编写、速度均衡</p>
                        </li>
                        

                    </ul>
                </div> 
                <!-- 直播 -->
                <div class="nav_product_play left">
                    <ul>
                        <li class="nav_list_color">
                            <a href="#">EC云主机5</a>
                            <p>安全、编写、速度均衡</p>
                        </li>
                         <li>
                            <a href="#">EC云主机5</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机5</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机5</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机5</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机5</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机5</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机5</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机5</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机5</a>
                            <p>安全、编写、速度均衡</p>
                        </li>
                        

                    </ul>
                </div>

                    <!-- IM -->
                <div class="nav_product_im left">
                    <ul>
                        <li class="nav_list_color">
                            <a href="#">EC云主机6</a>
                            <p>安全、编写、速度均衡</p>
                        </li>
                         <li>
                            <a href="#">EC云主机6</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机6</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机6</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机6</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机6</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机6</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机6</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机6</a>
                            <p>安全、编写、速度均衡</p>
                        </li> <li>
                            <a href="#">EC云主机6</a>
                            <p>安全、编写、速度均衡</p>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- 解决方案 -->
            <div class="index_nav_solve">
                <div class="nav_solve_list">
                    <ul>
                        <li class="nav_list_color">
                            <a href="#">电商解决方案</a></li>
                        <li><a href="#">移动解决方案</a></li>
                        <li><a href="#">直播解决方案</a></li>
                    </ul>
                </div>
                <!-- 如果需要添加二级菜单 在这之后添加 -->
            </div>
            <!-- 云超市 -->
            <div class="index_nav_market">
                <div class="nav_market_list">
                    <ul>
                        <li class="nav_list_color"><a href="#">Saas</a></li>
                        <li><a href="#">Devops</a></li>
                        <li><a href="#">Saas</a></li>
                    </ul>                    
                </div>               
            </div> 
            <!-- 合作伙伴 -->
            <div class="index_nav_partner">
                    <div class="nav_partner_list">
                        <ul>
                            <li class="nav_list_color" id="js_zy_center">
                                <a href="#">资源中心</a></li>
                            <li id="js_zy_suan"><a href="#">超算资源</a></li>
                            <li id="js_zy_fire"><a href="#">合作伙伴</a></li>
                            <li id="js_zy_new"><a href="#">新闻中心</a></li>
                        </ul>
                    </div>

                    <!-- xiala -->
                    <!-- 资源中心 -->
                    <div id="hezuo_la">
                    <div class="nav_partner_partner" style="display:block;">
                        <ul>
                            <li class="nav_list_color">
                                <a href="#">华为科技</a></li>
                            <li><a href="#">盛科</a></li>
                            <li><a href="#">天津超算</a></li>
                            <li><a href="#">华为科技</a></li>
                            <li><a href="#">盛科</a></li>
                            <li><a href="#">天津超算</a></li>
                        </ul>
                    </div>
                    <!-- 超算资源 -->
                    <div class="nav_partner_ziy">
                        <ul>
                            <li class="nav_list_color">
                                <a href="#">华为科技2</a></li>
                            <li><a href="#">盛科2</a></li>
                            <li><a href="#">天津超算2</a></li>
                            <li><a href="#">华为科技2</a></li>
                            <li><a href="#">盛科2</a></li>
                            <li><a href="#">天津超算2</a></li>
                        </ul>
                    </div>
                    <!-- 合作伙伴 -->
                    <div class="nav_partner_fire">
                        <ul>
                            <li class="nav_list_color">
                                <a href="#">华为科技3</a></li>
                            <li><a href="#">盛科3</a></li>
                            <li><a href="#">天津超算3</a></li>
                            <li><a href="#">华为科技3</a></li>
                            <li><a href="#">盛科3</a></li>
                            <li><a href="#">天津超算3</a></li>
                        </ul>
                    </div>
                    <!-- 新闻中心 -->
                    <div class="nav_partner_new">
                        <ul>
                            <li class="nav_list_color">
                                <a href="#">华为科技4</a></li>
                            <li><a href="#">盛科4</a></li>
                            <li><a href="#">天津超算4</a></li>
                            <li><a href="#">华为科技4</a></li>
                            <li><a href="#">盛科4</a></li>
                            <li><a href="#">天津超算4</a></li>
                        </ul>
                    </div>
                    </div>
            </div>
            <!-- 文档 -->
            <div class="index_nav_api">
                <div class="nav_api_list">
                    <ul>
                        <li class="nav_list_color">
                            <a href="#">产品文档</a></li>
                        <li><a href="#">API</a></li>
                        <li><a href="#">知识库</a></li>
                        <li><a href="#">社区</a></li>
                    </ul>
                </div>
            </div>
            <!-- 支持 -->
            <div class="index_nav_support">
                <div class="nav_support_list">
                    <ul>
                        <li class="nav_list_color">
                            <a href="#">加入我们</a></li>
                        <li><a href="#">关于银盾</a></li>
                    </ul>
                </div>
            </div>
    </div>
</div>
            
<!--导航结束-->

<!--价格计算器部分-->
<div class="price_nav">
	<div class="price_nav_cen">
		<ul class="clearfix">
			<li class="price_sure">银盾云定价</li>
			<li>></li>
			<li>价格计算器</li>
		</ul>		
	</div>
</div>
<!--从这里开始是内容的部分-->
<div class="price_content">
	<!--内容的大盒子-->
	<div class="price_all clearfix">
		<!--内容的左边的-->
		<div class="price_left">
			<!--左边盒子的里面-->
			<div class="price_yun">				
				<div class="price_yun_small">										
					<ul class="clearfix" id="jsSeleAll">
						<li class="cur"><img src="images/yun_fi.png"/>云主机</li>
						<li><img src="images/wang_co.png"/>网络</li>					
						<li><img src="images/pan_for.png"/>云硬盘</li>
					</ul>			
				</div>
			</div>
		   
	   <div class="price_jia">
		<img src="images/jisuanqi-icon.png"/>	
		<span style="margin-left: 12px;">价格计算器</span>
	   </div>
		   
		   <!--这是切换  外面包着的切换-->
		   <div id="js-selebox">		   			   
		   <!--左边第三个大盒子   云主机-->
		   <div class="" id="jsYjsOuterBox">
			   <div class="price_three" id="js-sele-box">
			    	<div class="price_three_one clearfix">			    		
				    	<div class="price_three_num clearfix">
				    		<div class="price_three_numleft">				    							    		
				    		    <span class="left_con" style="font-size: 24px; color:#d2d3d6 ;">云主机</span>
				            </div>
				            <div class="price_three_numright">
				            	<div class="right_unit">元</div>
				            	<div class="right_box">
				            		<div class="right_box_con" id="yunjg">				            			
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-d"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            		</div>
				            	</div>				            	
				            </div>
				    	</div>
				    	
			    		<!--下面的重置  去购买  加入清单-->
			    		<ul class="price_ul clearfix">		    				    			
			    			<li id="Yjsjion">加入清单</li>
			    			<li>去购买</li>
			    			<li>重置</li>
			    		</ul>
			    	</div>		    	
			   </div>
		   
			   <div class="price_list" id="jsPriceList">
			   		<ul class="price_list_ul">
			   			<li class="price_pro">
			   				<div class="price_duct">
					   			<h6>区域</h6>
					   			<ul class="clearfix" id="jsQyBoxOne">					   				
					   				<li class="sele-li">北京</li>					   				
					   			</ul>
					   		</div>
			   			</li>
			   			<li class="price_pro">
			   				<div class="price_duct">
					   			<h6>机型</h6>
					   			<ul class="clearfix">
					   				<li>标准机型</li>				   				
					   			</ul>
					   		</div>
			   			</li>
			   			<li class="price_pro">
			   				<div class="price_duct">
					   			<h6>CPU</h6>
					   			<ul class="clearfix js-select" id="jsCpuBox" >
					   				<li ng-class="{true: 'sele-li', false: ''}[$index == 0]" ng-click="selectFun($index)" ng-repeat="data in cpudataList" data-pri="{{data.oneprice}}">{{data.name}}</li>				   									   							   								   						   				
					   			</ul>
					   		</div>
			   			</li>
			   			<li class="price_pro">
			   				<div class="price_duct">
					   			<h6>内存</h6>
					   			<ul class="clearfix js-select js-selef" id="jsNcBox">	
					   				<li ng-class="{true: 'sele-li', false: ''}[$index == 0]" ng-repeat="data in dataInfo" ng-click="seleF($index)" data-pri="{{data.price}}">{{data.gn}}</li>
				   				</ul>
					   		</div>
			   			</li>
			   			<li class="price_pro">
			   				<div class="price_duct">
					   			<h6>镜像</h6>
					   			<ul class="clearfix js-select" id="jsJxBox">
					   				<li class="sele-li">Linux</li>
					   				<li>Windows</li>				   				
					   			</ul>
					   		</div>
			   			</li>
			   			<li class="price_pro">
			   				<div class="price_duct">
					   			<h6>系统盘</h6>
					   			<ul class="clearfix zeng_song">
					   				<li>赠送Linux(20G)</li>				   				
					   			</ul>
					   		</div>
			   			</li>
			   			<li class="price_pro">
			   				<div class="price_duct">
					   			<h6>数据盘</h6>
					   			<div style="margin-top: 20px;">
					   				<div class="unfold" style="display: inline-block;">			
										<div class="item">											
											<div class="slider" style="width: 500px;">
												<div class="slider-track">
													<div class="slider-selection" style="width:0%;"></div>
													<div class="slider-handle round" style="left: 0%;"></div>
												</div>
											</div>
											
											<input type="text" name="bandwidth" value="0" class="preview mini"/>
											<span class="help inline" style="color: #fff;">Mbps</span>
											
											<!--这是滚动条的后面的点击-->
											<div class="right_icont" style="display: inline-block;">
								    			<span id="Yjia">∧</span>
								    			<span id="Yjian">∨</span>
								    		</div>
											
										</div>
									</div>	
					   				
					   				
					   				
					   			</div>
					   		</div>
			   			</li>
			   			<li class="price_pro">
			   				<div class="price_three_nine" style="margin-bottom: 22px;">
				    			<h6>数量</h6>
					    		<div class="">
					    			<input type="text" name=""  id="jsTsBox" value="1" />
					    			<span>台</span>
					    		</div>
					    		<div class="">
					    			<span id="jsYrisen" zenga="1">∧</span>
					    			<span id="jsYreduce" jiana="1">∨</span>
					    		</div>
			    			</div>
			   			</li>
			   			<li class="price_pro price_last">
			   				<div class="price_duct">
					   			<h6>付费方式</h6>
					   			<ul class="clearfix js-select-type">
					   				<li class="nian_yue" ng-class="{true: 'sele-li', false: ''}[$index == 0]" ng-repeat="data in fufeitype_data" ng-click="selectFun_fufei($index)">{{data.mode}}</li>
					   				<!--<li class="an_xu">按需</li>-->
					   			</ul>
					   			<ul class="clearfix js-ff-details" id="jsFfBox" style="margin: 0px;">
					   				<li ng-class="{true: 'sele-li', false: ''}[$index == 0]" ng-click="sele_ff_details($index)" ng-repeat="data in ffdetails_data" data-ff-pri="{{data.price}}">{{data.time}}</li>
				   				</ul>
					   		</div>
			   			</li>
			   		</ul>
			   </div>
			</div>		
			<!---------------------网络部分------------------------->
			<div class="" id="jsWlOuterBox" style="display: none;">
			   <div class="price_three" id="js-sele-box">
			    	<div class="price_three_one">
				    	<div class="price_three_num clearfix">
				    		<div class="price_three_numleft">				    							    		
				    		    <span class="left_con" style="font-size: 24px; color:#d2d3d6 ;">网络</span>
				            </div>
				            <div class="price_three_numright">
				            	<div class="right_unit">元</div>
				            	<div class="right_box">
				            		<div class="right_box_con" id="wangjg">
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-d"></span>
				            			<span class="number number-t"></span>
				            			<span class="number number-t"></span>
				            		</div>
				            	</div>				            	
				            </div>
				    	</div>
			    		<!--下面的重置  去购买  加入清单-->
			    		<ul class="price_ul clearfix">		    				    			
			    			<li id="Wljion">加入清单</li>
			    			<li>去购买</li>
			    			<li>重置</li>
			    		</ul>
			    	</div>		    	
			   </div>
		   
			   <div class="price_list" id="jsPriceList">
			   		<ul class="price_list_ul">
			   			<li class="price_pro">
			   				<div class="price_duct">
					   			<h6>区域</h6>
					   			<ul class="clearfix" id="jsQyBoxThree">					   				
					   				<li class="sele-li">北京</li>
					   				
					   			</ul>
					   		</div>
			   			</li>
			   			
			   			<li class="price_pro">
			   				<div class="price_duct">
					   			<h6>计费方式</h6>
					   			<ul class="clearfix" id="wlDk">
					   				<li class="sele-li">带宽</li>				   				
					   			</ul>
					   		</div>
			   			</li>	
			   			
			   			<li class="price_pro">
			   				<div class="price_duct">
					   			<h6>带宽</h6>
					   			<!--这是滚动条-->
					   			<div style="margin-top: 20px;">					   									   			
							   		<div class="unfold" style="display: inline-block;">			
										<div class="item">											
											<div class="slider" style="width: 500px;">
												<div class="slider-track">
													<div class="slider-selection" style="width:0%;"></div>
													<div class="slider-handle round" style="left: 0%;"></div>
												</div>
											</div>
											
											<input type="text" name="bandwidth" value="0" class="preview mini"/>
											<span class="help inline" style="color: #fff;">Mbps</span>
											
											<!--这是滚动条的后面的点击-->
											<div class="right_icont" style="display: inline-block;">
								    			<span id="Wjia">∧</span>
								    			<span id="Wjian">∨</span>
						    				</div>
											
										</div>
									</div>					   									   			
					   			</div>
					   		</div>
			   			</li>
			   			
			   			<li class="price_pro">
			   				<div class="price_three_nine" style="margin-bottom: 22px;">
				    			<h6>数量</h6>
					    		<div class="">
					    			<input type="text" name=""  id="jsWTsBox" value="1" />
					    			<span>台</span>
					    		</div>
					    		<div class="">
					    			<span id="jsWrisen" zenga="3">∧</span>
					    			<span id="jsWreduce" jiana="3">∨</span>
					    		</div>
			    			</div>
			   			</li>
			   			
			   			<li class="price_pro price_last">
			   				<div class="price_duct">
					   			<h6>付费方式</h6>
					   			<ul class="clearfix js-select">
					   				<li class="sele-li nian_yue">包年包月</li>
					   				<li class="an_xu">按需</li>
					   			</ul>
					   			<ul class="clearfix js-select" id="jsFfBoxThree" style="margin-top: 0px;">
					   				<li>购置月底</li>
					   				<li class="sele-li">1个月</li>
					   				<li>2个月</li>
					   				<li>3个月</li>
					   				<li>4个月</li>
					   				<li>5个月</li>
					   				<li>6个月</li>
					   				<li>7个月</li>
					   				<li>8个月</li>
					   				<li>9个月</li>
					   				<li>1年</li>
					   				<li>2年</li>
					   				<li>3年</li>
					   			</ul>
					   		</div>
			   			</li>
			   			
			   		</ul>
			   </div>
			</div>
				
			<!---------------------网络部分结束------------------------->
						
			<!----------------------云硬盘部分------------------------->
			<div class="" id="jsYypOuterBox" style="display: none;">
			   <div class="price_three" id="js-sele-box">
			    	<div class="price_three_one">
				    	<div class="price_three_num clearfix">
				    		<div class="price_three_numleft">				    							    		
				    		    <span class="left_con" style="font-size: 24px; color:#d2d3d6 ;">云硬盘</span>
				            </div>
				            <div class="price_three_numright">
				            	<div class="right_unit">元</div>
					            	<div class="right_box">
					            		<div class="right_box_con" id="panjg">
					            			<span class="number number-t"></span>
					            			<span class="number number-t"></span>
					            			<span class="number number-t"></span>
					            			<span class="number number-t"></span>
					            			<span class="number number-t"></span>
					            			<span class="number number-t"></span>
					            			<span class="number number-t"></span>
					            			<span class="number number-t"></span>
					            			<span class="number number-t"></span>
					            			<span class="number number-d"></span>
					            			<span class="number number-t"></span>
					            			<span class="number number-t"></span>
					            		</div>
					            	</div>				            	
				            </div>
				    	</div>
			    		<!--下面的重置  去购买  加入清单-->
			    		<ul class="price_ul clearfix">		    				    			
			    			<li id="Yypjion">加入清单</li>
			    			<li>去购买</li>
			    			<li>重置</li>
			    		</ul>
			    	</div>		    	
			   </div>
		   
			   <div class="price_list" id="jsPriceList">
			   		<ul class="price_list_ul">
			   			<li class="price_pro">
			   				<div class="price_duct">
					   			<h6>区域</h6>
					   			<ul class="clearfix" id="jsQyBoxFour">					   				
					   				<li class="sele-li">北京</li>					   			
					   			</ul>
					   		</div>
			   			</li>
			   						   						   						   						   			
			   			<li class="price_pro">
			   				<div class="price_duct">
					   			<h6>磁盘容量</h6>
					   			<div style="margin-top: 20px;">
					   			<div class="unfold" style="display: inline-block;">			
										<div class="item">											
											<div class="slider" style="width: 500px;">
												<div class="slider-track">
													<div class="slider-selection" style="width:0%;"></div>
													<div class="slider-handle round" style="left: 0%;"></div>
												</div>
											</div>
											
											<input type="text" name="bandwidth" value="0" class="preview mini"/>
											<span class="help inline" style="color: #fff;">Mbps</span>
											
											<!--这是滚动条的后面的点击-->
											<div class="right_icont" style="display: inline-block;">
								    			<span>∧</span>
								    			<span>∨</span>
						    		        </div>											
										</div>
									</div>					   									   										   				
					   			</div>
					   		</div>
			   			</li>
			   			<li class="price_pro">
			   				<div class="price_three_nine" style="margin-bottom: 22px;">
				    			<h6>数量</h6>
					    		<div class="">
					    			<input type="text" name="" id="jsYpTsBox" value="1" />
					    			<span>台</span>
					    		</div>
					    		<div class="">
					    			<span id="jsPrisen" zenga="4">∧</span>
					    			<span id="jsPreduce" jiana="4">∨</span>
					    		</div>
			    			</div>
			   			</li>
			   			<li class="price_pro price_last">
			   				<div class="price_duct">
					   			<h6>付费方式</h6>
					   			<ul class="clearfix js-select">
					   				<li class="sele-li nian_yue">包年包月</li>
					   				<li class="an_xu">按需</li>
					   			</ul>
					   			<ul class="clearfix js-select" id="jsFfBoxFour" style="margin: 0px;">
					   				<li>购置月底</li>
					   				<li class="sele-li">1个月</li>
					   				<li>2个月</li>
					   				<li>3个月</li>
					   				<li>4个月</li>
					   				<li>5个月</li>
					   				<li>6个月</li>
					   				<li>7个月</li>
					   				<li>8个月</li>
					   				<li>9个月</li>
					   				<li>1年</li>
					   				<li>2年</li>
					   				<li>3年</li>
					   			</ul>
					   			
					   			
					   		</div>
			   			</li>
			   		</ul>
			   </div>
			</div>						
	
			<!----------------------云硬盘部分结束------------------------>
			
		   
		   </div>
		</div>
		<!--内容的右边的-->
		<div class="price_right">
			<p class="jiage"><img src="images/money_bac.png" style="vertical-align: sub;"><span>价格清单</span></p>
				<div class="right_two">
					<span>￥</span>
					<span id="jsJgqd">0.00</span>
					<button>导出</button>
				</div>			
			<ul id="ceShi" class="ce_shi js-qdul">
				<span>云主机</span> 
				<span id="js_type_yzj">￥0.00</span>
				<span> > </span>
				
				<!--<li class="right_three" id="right_three">
					<p>云主机</p>
					<p>88888.00元</p>
					<p><span>地域 :</span><span>北京</span></p>
					<div>
						<div>配置 :</div>
						<div>
							<span>CPU :</span><span></span>
							<span>内存:</span><span></span>
							<span>镜像 :</span><span></span>
							<span>数据盘 :</span><span></span>
							<span>数量 :</span><span></span>
							<span>付费方式 :</span><span></span>
						</div>
						
					</div>
					<div class="shop_delete">				
						<a href="javascript:;" title="删除" ><img src="images/delete.png" id="delete"/></a>						
						<a href="javascript:;" title="去购买"><img src="images/shop.png" alt="" /></a>											
					</div>
				</li>-->
			</ul>	
			<div class="slideBox" id="js_yjz_slide_box">
					<!--<div class="qd_xiaoji_box">
						<span>￥</span>
						<span>2999.00</span>
						<span> > </span>
					</div>-->
			</div>
			<ul id="ceShi" class="ce_shi js-qdul">				
				<span>网络</span> 
				<span id="js_type_wl">￥0.00</span>
				<span> > </span>
				
			</ul>
			<div class="slideBox" id="js_wl_slide_box">
					
			</div>
			
			<div class="slideBox" id="js_fz_slide_box">
					
			</div>
			<ul id="ceShi" class="ce_shi js-qdul">				
				<span>云硬盘</span> 
				<span id="js_type_yyp">￥0.00</span>
				<span> > </span>
			</ul>
			<div class="slideBox" id="js_yyp_slide_box">
					
			</div>
		</div>
	</div>
</div>


<!--这里是bottom 的部分-->
<div class='footer_bottom'>
    <div class="bottomLastFir">
            <div class="bottomListFir">
            <ul style="float: left;">
                <li class="groupItemFir" style="">
                    <h2>产品</h2>
                    <ul>
                        <li><a href="###">云计算</a></li>
                        <li><a href="###">云储存</a></li>
                        <li><a href="###">云网络</a></li>
                        <li><a href="###">CDN</a></li>
                        <li><a href="###">数据库</a></li>
                        <li><a href="###">视频服务</a></li>
                    </ul>
                </li>
                <li class="groupItemFir" style="margin-left: 120px;">
                    <h2>客户案例</h2>
                    <ul>
                        <li><a href="###">o2o申商</a></li>
                        <li><a href="###">在线教育</a></li>
                        <li><a href="###">游戏平台</a></li>
                        <li><a href="###">移动应用</a></li>
                        <li><a href="###">web应用</a></li>
                        <li><a href="###">企业级应用</a></li>
                    </ul>
                </li>
                <li class="groupItemFir groupItemItemFir" style="margin-left: 120px;">
                    <h2>联系我们</h2>
                    <ul class="relationFir">
                        <li>
                            <span class="addressAPIFir"></span> 北京市朝阳区石佛营路恒泰大厦A座7层
                        </li>
                        <li>
                            <span class="telephoneAPIFir"></span> 400-1160195
                        </li>
                        <li>
                            <span class="mailboxAPIFir"></span> sales@silversecuritytech.com
                        </li>
                        <li>
                            <span class="UniformAPIFir"></span> http/www.silversecuritytech.com
                        </li>
                    </ul>
                </li>
                
            </ul>
            <div class="weChatFir">
                    <img src="images/weChat.png"/>
                </div>
        </div>
        <div class="bottomsiteFir">
          <div class="siteFir">
            Copyright © 2015北京银盾泰安网络科技有限公司 京ICP备15059727号-1 业务咨询、市场合作 400-1160195
          </div>
        </div>
            
        
        </div>
</div>

<!--这里是bottom 的部分-->

<script src="js/jquery-1.8.3.min.js"></script>
<!--<script src="js/index.js"></script>-->
<script src="js/price2.js"></script>
<script src="js/pricenumber.js"></script>
<script src="js/progressBar.js"></script>
<script src="js/scrollbar.js" type="text/javascript" charset="utf-8"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
			    $(function() {
			        genal.show();			        			        
			    })
	</script>  
<script src="js/angularprice.js" type="text/javascript" charset="utf-8"></script>	
</body>
</html>
