@import './sCommon';

.con-wrap {
    position: relative;
    width: 50%;
    height: 100%;
    margin: pr(200) auto 0;
    border: 1px solid blue;
    box-sizing: border-box;

    .hook {
        position: absolute;
        top: pr(-4900);
        left: 0;
        width: pr(10);
        height: pr(5000);
        background: rebeccapurple;

        &.you {
            animation: youyou 5s linear infinite;
        }

        &.you7 {
            animation: youyou7 3s linear forwards;
        }

        @keyframes youyou {
            0% {
                left: 0%;
            }
            50% {
                left: 100%;
            }
            100% {
                left: 0%;
            }
        }

        @keyframes youyou7 {
            0% {
                left: 17%;
            }
            50% {
                top: pr(-4700);
                left: 17%;
            }
            100% {
                top: pr(-4500);
                left: 17%;
            }
        }
    }

    .pool{
        ul{
            li{ 
                float: left;
                width: 33%;
                height: pr(200);
                border: 1px solid yellowgreen; 
                box-sizing: border-box;
                span{
                    display: inline-block;
                    width: pr(100);
                    height: pr(100);
                    margin: pr(40) auto;
                    background: red;
                }
            }
        }
    }


}