.xh-calendar-page{
    width: 100%;
    
}

.li-out-box li{
    float: left;
    width: 13%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.li-out-box li.cur-date{
    border: 1px solid tomato;
}
.li-out-box li.begin-date{
    background: #fbe9fe;
    border: 1px solid rgb(240, 96, 204);
}