.topnav{
	position: relative;
	height: 2.813rem;
	line-height: 2.813rem;
	background: #6b6b6b;
	color: #fff;
	font-size: 1.125rem;
	text-align: center;
}
.topnav a{
	position: absolute;
	left: .7rem;
	top: 50%;
	margin-top: -.625rem;
	width: .656rem;
	height: 1.25rem;
	background: url(../img/topnav-pic.png)no-repeat;
	background-size: 100% 100%;
}
.box{
	position: relative;
	width: 100%;
	height: 43.75rem;
	background: url(../img/huodongbg-pic_03.png)no-repeat;
	background-size: 100% 100%;
}
.box .info{
	width: 9.375rem;
	padding-top: 13.438rem;
	margin: 0 auto;
	text-align: center;
}
.box .info img{
	display: block;
	width: 2.875rem;
	height: 2.875rem;
	margin: 0 auto;
}
.box .info p{
	margin-top: .2rem;
	font-size: .938rem;
	color: #fff;
}
.box .info p:nth-of-type(2){
	font-size: .688rem;
}
.box>img{
	display: block;
	width: 20.625rem;
	height: 11.875rem;
	margin: 2.888rem auto 0;
}
.box>a{
	display: block;
	width: 18.125rem;
	height: 2.875rem;
	line-height: 2.875rem;
	margin: 3.438rem auto 0;
	text-align: center;
	border-radius: 4px;
	background: #ffff02;
	color: #e2254b;
	font-size: .938rem
	
	
}
