body,
ul,
li {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-size: 12px;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    font-family: helvetica;
}

.f-con{
    background: #fff;
    padding: 0 20px;
}
.f-con .title{
    font-weight: 700;
    color: #000;
    font-size: 2rem;
    text-align: left;
}
.f-con .info{
    padding: 16px 0;
    font-size: .3rem;
}
.f-con .info .time{
    float: left;
    color: #666;
}
.f-con .info .author{
    float: left;
    color: rgb(19, 73, 22);
}
.f-con .con-img{
    display: block;
    width: 100%;
    height: 100%;
    /* margin-bottom: 10px; */
}