*{
	font-family: "microsoft yahei";
	-webkit-user-select: none;
}
.new_build{
	width: 100%;
    height: 100%;
	padding-top:50px;
	background: #ffffff;
}
.new_con{
	padding-left: 200px;
}
.new_up{
	width: 100%;
	height: 39px;
	box-sizing: border-box;
	position: fixed;
	border-bottom: 1px dashed #d6e0e8;	
	cursor: pointer;
	padding: 14px 30px 0;
	z-index: 99;
    background: #fff;
}
.new_up a{
	color: #437ec6 !important;
}
.new_under{		
	position: relative;
	top: 0;
	left: 0;	
	padding-top: 39px;
	box-sizing: border-box;
	height: 100%;
}
.new_under_left{
	padding: 0 50px;	
	min-width: 830px;
	margin-right: 375px;
	box-sizing: border-box;
}
.wai_net_ip{
	background: rgb(240, 248, 255);
    padding-bottom: 10px;
    padding-left: 22px;
    z-index: 111;
}
.no_buy{
	background: rgb(240, 248, 255);
    padding: 22px;
	position: relative;
	color: #65a4fd;
	font-weight: bold;
	font-size: 14px
}
.new_under_right{
	position: fixed;
    right: 0;
    top: 89px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 6;
    margin-right: 10px;
    background: #f0f8ff;
    
}
.new_under_right .new_right_gg{
	padding:26px 0 15px 35px ;
	border-bottom: 1px dashed #67a5fd;
	font-size: 14px;
}
/*台数*/
.price_three_nine{
	display: inline-block;
	margin-left: 100px;
}
.new_under_right .new_right_gg .new_right_yd .price_number{
	margin-left: 150px;
}
.new_under_right .new_right_gg .new_right_yd{
	padding-bottom: 20px;
}
.new_under_right .new_right_gg .new_right_yd .price_three_nine div:nth-of-type(1){
	position: relative;
 	width: 90px;
 	height: 26px;
 	margin-top: 20px;
 	font-size: 14px;
 	display: inline-block;
}
.new_under_right .new_right_gg .new_right_yd .price_three_nine div:nth-of-type(1) input{
 	display: inline-block;
 	width: 100%;
 	height: 100%;
 	text-align: center;
 }
.new_under_right .new_right_gg .new_right_yd .price_three_nine div:nth-of-type(1) span{
 	position: absolute;
 	top:5px;
 	right: 2px; 	
 }  
.new_under_right .new_right_gg .new_right_yd .price_three_nine div:nth-of-type(2){
 	width: 15px;
 	height: 26px;
 	border: 1px solid #dddfe3;
 	display:inline-block ;
 	margin-left: 15px; 	
 	vertical-align: middle;
 }
.new_under_right .new_right_gg .new_right_yd .price_three_nine div:nth-of-type(2) span{
 	display: block; 	
 	width: 100%;
 	height: 50%;
 	line-height: 100%;
 	text-align: center;
 	-webkit-user-select: none;
 	cursor: pointer;
 }  
.new_under_right .new_right_gg .new_right_yd .price_three_nine div:nth-of-type(2) span:active{
 	background: #ccc;
 	color: #fff;
 }

.new_under_right .new_right_gg .new_right_yd .price_three_nine .du_li{
	background: #358bf2;
	color: #fff;
}



.new_base_title{
	border-bottom:1px dashed  #d6e0e8;
	color: #65a4fd;
	line-height: 39px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 16px;
}
.new_base_conter{
	margin-top: 10px;
}
.new_con_pd{
	padding-top: 10px;
	margin-bottom: 10px;
}
.new_label{
	width: 80px;
	font-size: 14px;
	color:#3e3e3e;
	box-sizing: border-box;
	font-weight: bold;
	float: left;
	line-height: 30px;
}
.new_step_trol{
	margin-left: 93px;
	position: relative;	
}
.new_step_trol .biao_button_ul li{
	height: 32px;
	border: 1px solid #c7c7c7;
	min-width: 75px;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	background: #fff;
	font-size: 12px;
	padding: 6px 12px;
	border-radius: 3px;
	cursor: pointer;
	float: left;
	margin-right: 24px;
	
	
}
.new_step_trol .biao_button_ul .biao_button_active{
	border: 1px solid transparent !important;
	background: url(../images/sele-li.png) no-repeat;
	background-size: 100% 100%;
}
/*这个是关和开的按钮的*/
.new_step_trol .push_button{
	height: 28px;
	border: 1px solid #91b5ff;
	width: 60px;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	background: #ccc;		
	border-radius: 3px;
	cursor: pointer;
	float: left;
	margin-right: 24px;	
}
.new_step_trol .biao_button_he{
	width: 500px;
}
.new_step_trol .biao_button_he li{
	margin-bottom: 16px;
}

.new_step_trol .new_lei_p{
	margin-top:12px ;
	color: #5c5c5c;
}

.new_step_trol p .only_i{
	display: inline-block;
	width: 10px;
	height: 10px;	
	background: url(../images/ti_shi.png) no-repeat;
}
.new_step_trol .root_yd{
	display: inline-block;
	height: 5px;
	height: 18px;
	color: #fff;
	font-weight: bold;
	padding: 8px 27px;
	background: #9ebdff;
}

.new_step_trol input{
	height: 24px;
}
/*数据盘*/
.slider{	
	height:32px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	background: #f7f8fa;
	cursor: pointer;
	border-bottom: 1px solid #dddfe3;
}
.slider-track{
	height: 16px;
	width: 100%;
	margin-top: -7px;
	top: 50%;
	left: 0;	
	position: absolute;
	cursor: pointer;
	background-color: #e0e0e0;
	background-repeat: repeat-x;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;	
}
.slider-selection{
	height: 100%;
    top: 0;
    bottom: 0;    
    position: absolute;
    background-color: #ECDB0F;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.slider-handle{
	margin-left: -9px;  
    position: absolute;
    width: 25px;
    height: 25px;   
    background: url(../images/kedu.png) no-repeat;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.mini{
	margin-left: 15px;
    width: 40px;        
    display: inline-block;
    border: 1px solid #ccc;
    padding:8px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-family: "microsoft yahei";
    line-height: 16px;
    color: #555;
    vertical-align: middle;  
}
/*这是input框type类型是number的  里面会有上下箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{-moz-appearance:textfield;}
/*这里是付费方式的 接63行*/
.new_under_right .new_right_gg .method .method_sele{
	margin-left: 100px;
}
.new_under_right .new_right_gg .method .method_sele_price{
	width: 160px;
	height: 30px;
	border: 1px solid #ccc;
}

/*合计费用*/
.new_under_right .new_right_gg .add_up{
		padding: 10px 0;
}
.new_under_right .new_right_gg .add_up .add_up_lab{
	font-size: 14px;
	width: 100px;
	line-height: 30px;
	float: left;
}
.new_under_right .new_right_gg .add_up .add_money{
	display: inline-block;
	float: right;
}
.new_under_right .new_right_gg .add_up .add_money_tal{
	font-size: 20px;
    color: #4074e1;
    font-weight: 600;
}
.new_under_right .new_right_gg .add_up .get_now{
	margin-left: 150px;
	display: inline-block;
    text-align: center;
}
.new_under_right .new_right_gg .add_up .get_now .get_new_in{
	font-size: 14px;
	  width: 130px;
    padding: 15px;
    background: #358bf2;
    border-radius: 10px;
    color: #fff;
      cursor: pointer;
}

