<!DOCTYPE html>
<html lang="zh-CN" ng-app="sspaas">
<head>
<meta charset="UTF-8">
<title>控制台</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/kongzhitai.css">
</head>
<body ng-controller="myCtrl">
<div class="control_box clearfix">
	<div class="control_top">
		<!-- nav左边 -->
		<div class="control_top_left clearfix left">
			<a href="##"><img src="images/controllogo.png" alt=""></a>
		</div>
		<!-- nav右边 -->
		<div class="control_top_right clearfix right">
			<ul class="control_top_main right">
				<li><a href="##">
					<img src="images/controllogo1.png" alt="" class="left">
					<span class="left">消息中心</span></a>
				</li>
				<li><a href="##">
					<img src="images/controllogo2.png" alt="" class="left">
					<span class="left">帮助</span></a>
				</li>
				<li class="nav_right" id="dome"><a href="##">
					<img src="images/controllogo3.png" alt="" class="left">
					<span class="left">1198256330@qq.com</span></a>
					<img src="images/controllogo4.png" alt="" class="left latu" >
				</li>
			</ul>
			<div class="nav_xiala">
				<ul>
					<li>11982563@qq.com</li>
					<li>11982563@qq.com</li>
					<li>11982563@qq.com</li>
					<li>11982563@qq.com</li>
				</ul>
			</div>6
		</div>
		<!-- 定位图片 -->
		<div class="control_top_tu">
			<img src="images/controllogo5.png" alt="">
		</div>
	</div>

	<!-- 左边 -->
	<div class="control_main_left clearfix">
		<div class="control_main_top clearfix">
			<img src="images/controllogo6.png" alt="" class='left'>
			<span>北京2区</span>
			<img src="images/controllogo7.png" alt="" class='right adress'>
		</div>
		
		<div class="control_main_center clearfix">
			<ul class="clearfix">
				<li class="one clearfix">
					<div class="zong">
						<div class="point_tu">
							<img src="images/controllogo8.png" alt="" >
						</div>
						<span>总览</span>
						<div class="control_main_center_tu ">
							<img src="images/controllogo9.png" alt="" class='point'>
						</div>
					</div>
					<ul class="second clearfix">
						<li class="zhe_change">云主机</li>
					</ul>
				</li>
				<!--计算-->
				<li class="one clearfix">
					<div class="zong computer cur">
						<div class="point_tu">
							<img src="images/controllogo10.png" alt="" >
						</div>
						<span>计算</span>
						<div class="control_main_center_tu ">
							<img src="images/controllogo9.png" alt="" class='point'>
						</div>
					</div>
					<ul class="second clearfix">
						<li  class="zhe_change">云主机</li>
						<li>云硬盘</li>
					</ul>
				</li>
				<li class="one clearfix">
					<div class="zong">
						<div class="point_tu">
							<img src="images/controllogo11.png" alt="" >
						</div>
						<span>网络</span>
						<div class="control_main_center_tu ">
							<img src="images/controllogo9.png" alt="" class='point'>
						</div>
					</div>
					
					<ul class="second clearfix">
						<li  class="zhe_change">云主机</li>
						<li>系统硬盘镜像</li>
					</ul>
				</li>
				<li class="one clearfix">
					<div class="zong">
						<div class="point_tu">
							<img src="images/controllogo12.png" alt="" >
						</div>
						<span>硬盘</span>
						<div class="control_main_center_tu ">
							<img src="images/controllogo9.png" alt="" class='point'>
						</div>
					</div>
					
					<ul class="second clearfix">
						<li  class="zhe_change">云主机</li>
						<li>云硬盘</li>
						<li>系统硬盘镜像</li>
					</ul>
				</li>
				<li class="one clearfix">
					<div class="zong">
						<div class="point_tu">
							<img src="images/controllogo13.png" alt="" >
						</div>
						<span>负载均衡</span>
						<div class="control_main_center_tu ">
							<img src="images/controllogo9.png" alt="" class='point'>
						</div>
					</div>
					
					<ul class="second clearfix">
						<li  class="zhe_change">云主机</li>
						<li>云硬盘</li>
						<li>系统硬盘镜像</li>
					</ul>
				</li>
				<li class="one clearfix">
					<div class="zong">
						<div class="point_tu">
							<img src="images/controllogo8.png" alt="" >
						</div>
						<span>个人中心</span>
						<div class="control_main_center_tu ">
							<img src="images/controllogo9.png" alt="" class='point'>
						</div>
					</div>
					
					<ul class="second clearfix">
						<li  class="zhe_change">云主机</li>
						<li>云硬盘</li>
						<li>系统硬盘镜像</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="control_main_footer">
			<img src="images/controllogo14.png" alt="">
		</div>
	</div>

	<!-- 右边 -->
	<div class="control_main_right clearfix">

		<!-- 云主机 -->
		<div class="control_main_right_center">

			<!-- 操作 -->
			<div class="control_main_right_top clearfix">
				<!-- 二级nav -->
				<div class="more_kong left">
					<ul>
						<li><a href="##">
							<h6 class="left"></h6>
							<img src="images/controllogo15.png" alt="" class="left old">
							<img src="images/controllogo20.png" alt="" class="left change">
							<span class="left">刷新</span>
						</a></li>
						<li><a href="##">
							<h6 class="left"></h6>
							<img src="images/controllogo16.png" alt="" class="left old">
							<img src="images/controllogo21.png" alt="" class="left change">
							<span class="left"><a href="newbuild.html">新建</a></span>
						</a></li>
						<li><a href="##">
							<h6 class="left"></h6>
							<img src="images/controllogo28.png" alt="" class="left old">
							<img src="images/controllogo32.png" alt="" class="left change">
							<span class="left">启动</span>
						</a></li>
						<li><a href="##">
							<h6 class="left"></h6>
							<img src="images/controllogo29.png" alt="" class="left old">
							<img src="images/controllogo33.png" alt="" class="left change">
							<span class="left">关机</span>
						</a></li>
						<li><a href="##">
							<h6 class="left"></h6>
							<img src="images/controllogo30.png" alt="" class="left old">
							<img src="images/controllogo34.png" alt="" class="left change">
							<span class="left">重启</span>
						</a></li>
						<li><a href="##">
							<h6 class="left"></h6>
							<img src="images/controllogo31.png" alt="" class="left old">
							<img src="images/controllogo35.png" alt="" class="left change">
							<span class="left">终端</span>
						</a></li>
						<li><a href="##">
							<h6 class="left"></h6>
							<img src="images/masterlogo3.png" alt="" class="left old">
							<img src="images/masterlogo3.png" alt="" class="left change">
							<span>重置密码</span>
						</a></li>
						<li class="wode"><a href="##">
							<h6 class="left"></h6>
							<img src="images/controllogo27.png" alt="" class="left old">
							<img src="images/controllogo27.png" alt="" class="left change">
							<span >删除</span>
						</a></li>
					</ul>
				</div>
		</div>
				
			<!-- list名称 -->
			<div class="master_list">
				<ul class="master_list_main" style="padding-top:20px;">
					<li><input type="checkbox" id="js-Aall"></li>
					<li>主机名</li>
					<li>系统</li>
					<li>配置</li>
					<li>磁盘</li>
					<li>网络</li>
					<li>状态</li>
					<li>折扣</li>
					<li>计费方式</li>
					<li>价格</li>
					<li>到期时间</li>
					<li>登录信息</li>
				</ul>
				<ul class="master_list_main checkYS" style="padding-top:20px;" ng-repeat="onedatar in dataList";>
					<li><input type="checkbox" class="checkYS" name="btSelectItem" ng-model="onedata.checked" ng-click="updateSelection($index,dataList)"></li>
					<li ng-bind="onedatar.zhujiming"></li> 
					<li ng-bind="onedatar.xitong"></li>
					<li ng-bind="onedatar.peizhi"></li>
					<li ng-bind="onedatar.cipan"></li>
					<li ng-bind="onedatar.wangluo"></li>
					<li ng-bind="onedatar.zhuangtai"></li>
					<li ng-bind="onedatar.zhekou"></li>
					<li ng-bind="onedatar.jifei"></li>
					<li ng-bind="onedatar.price"></li>
					<li ng-bind="onedatar.lastdata"></li>
					<li ng-bind="onedatar.loginmessage"></li>
				</ul>
			</div>

			<!-- 底部翻页 -->
			<div class="control_data_bottom">
				<p class="left gdan">
					工单: 
					<span ng-bind="cloudhost[0].firstNum"></span>
					到
					<span ng-bind="cloudhost[0].lastNum"></span>
					<i></i>
					总共
					<i></i>
					<span ng-bind="cloudhost[0].commonNum"></span>/条数据
					<i></i>
					<i></i>共: <span ng-bind="cloudhost[0].zongPage"></span>页
				</p>
				<div class="control_btn right">
					<ul>
						<li id="indexpage" ng-bind="cloudhost[0].firstPage"></li>
						<li id="prepage" ng-bind="cloudhost[0].upPage"></li>
						<li id="nextpage" ng-bind="cloudhost[0].underPage"></li>
						<li style="width:25.2%;" id="lastpage" ng-bind="cloudhost[0].lastPage"></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- 云硬盘 -->
		<div class="control_main_right_center pp">

			<!-- 操作 -->
			<div class="control_main_right_top clearfix">
				<div class="more_kong">
					<ul>
						<li><a href="##">
							<h6 class="left"></h6>
							<img src="images/controllogo15.png" alt="" class="left old">
							<img src="images/controllogo20.png" alt="" class="left change">
							<span class="left">刷新</span>
						</a></li>
						<li><a href="##">
							<h6 class="left"></h6>
							<img src="images/controllogo16.png" alt="" class="left old">
							<img src="images/controllogo21.png" alt="" class="left change">
							<span class="left">新建</span>
						</a></li>
						<li><a href="##">
							<h6 class="left"></h6>
							<img src="images/controllogo17.png" alt="" class="left old">
							<img src="images/controllogo22.png" alt="" class="left change">
							<span class="left">挂载</span>
						</a></li>
						<li><a href="##">
							<h6 class="left"></h6>
							<img src="images/controllogo18.png" alt="" class="left old">
							<img src="images/controllogo23.png" alt="" class="left change">
							<span class="left">卸载</span>
						</a></li>
						<li class="change_xiala"><a href="##">
							<h6 class="left"></h6>
							<img src="images/controllogo19.png" alt="" class="left old more">
							<img src="images/controllogo24.png" alt="" class="left change more">
							<span class="left">更多操作</span>
						</a></li>
					</ul>
				</div>
				
				<div class="more_join ">
					<ul>
						<li>
							<img src="images/controllogo25.png" alt="">
							<span>扩容</span>
						</li>
						<li>
							<img src="images/controllogo25.png" alt="">
							<span>创建模板</span>
						</li>
						<li>
							<img src="images/controllogo25.png" alt="">
							<span>更新模板</span>
						</li>
						<li>
							<img src="images/controllogo26.png" alt="">
							<span>创建快照</span>
						</li>
						<li>
							<img src="images/controllogo27.png" alt="">
							<span>删除</span>
						</li>
					</ul>
				</div>
			</div>

			<!-- list名称 -->
			<div class="control_list">
				<ul class="control_list_main" style="padding-top:20px;">
					<li><input type="checkbox"></li>
					<li>硬盘名</li>
					<li>状态</li>
					<li>挂载主机</li>
					<li>设备名称</li>
					<li>容量</li>
					<li>创建时间</li>
					<li>关联模板</li>
					<li>计费方式</li>
					<li>价格</li>
					<li>操作</li>
				</ul>
				<ul class="control_list_main">
					<li><input type="checkbox"></li>
					<li>20161123124752</li>
					<li>运行</li>
					<li>云硬盘</li>
					<li>云硬盘</li>
					<li>4G</li>
					<li>2011.12.21</li>
					<li>5613561</li>
					<li>5210元/年</li>
					<li>300</li>
					<li>已处理</li>
				</ul>
			</div>

			<!-- 底部翻页 -->
			<div class="control_data_bottom">
				<p class="left gdan">
					工单: 
					<span>1</span>到<span>10</span><i></i>
					总共<i></i> <span>19</span>/条数据
					<i></i><i></i>共: <span>2</span>页
				</p>
				<div class="control_btn right">
					<ul>
						<li id="indexpage">首页</li>
						<li id="prepage">上一页</li>
						<li id="nextpage" >下一页</li>
						<li style="width:25.2%;" id="lastpage">尾页</li>
					</ul>
				</div>
			</div>
		</div>
	</div>	

</div>
<script src="js/angular.min.js"></script>
<script src="js/common.js"></script>
<script src="js/cloudhost_ng.js"></script>
<script src="js/newbuild-ng.js"></script>
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/control.js"></script>


</body>
</html>