<!DOCTYPE html>
<html ng-app="sspaas">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/kongzhitai.css">
<link rel="stylesheet" type="text/css" href="css/newbuild.css"/>
</head>
<body ng-controller="myCtrl">
<div class="control_box clearfix">
<div class="control_top">

		<!-- nav左边 -->
		<div class="control_top_left clearfix left">
			<a href="##"><img src="images/controllogo.png" alt=""></a>
		</div>

		<!-- nav右边 -->
		<div class="control_top_right clearfix right">
			<ul class="control_top_main right">
				<li><a href="##">
					<img src="images/controllogo1.png" alt="" class="left">
					<span class="left">消息中心</span></a>
				</li>
				<li><a href="##">
					<img src="images/controllogo2.png" alt="" class="left">
					<span class="left">帮助</span></a>
				</li>
				<li class="nav_right" id="dome"><a href="##">
					<img src="images/controllogo3.png" alt="" class="left">
					<span class="left">1198256330@qq.com</span></a>
					<img src="images/controllogo4.png" alt="" class="left latu" >
				</li>
			</ul>
			<div class="nav_xiala">
				<ul>
					<li>11982563@qq.com</li>
					<li>11982563@qq.com</li>
					<li>11982563@qq.com</li>
					<li>11982563@qq.com</li>
				</ul>
			</div>
		</div>

		<!-- 定位图片 -->
		<div class="control_top_tu">
			<img src="images/controllogo5.png" alt="">
		</div>
	</div>

	<!-- 左边 -->
	<div class="control_main_left clearfix">
		<div class="control_main_top clearfix">
			<img src="images/controllogo6.png" alt="" class='left'>
			<span>北京2区</span>
			<img src="images/controllogo7.png" alt="" class='right adress'>
		</div>
		<div class="xialia">
			<ul>
				<li>上海</li>
				<li>广州</li>
				<li>天津</li>
				<li>内蒙</li>
			</ul>
		</div>
		<div class="control_main_center clearfix">
			<ul class="clearfix">
				<li class="one clearfix">
					<div class="zong">
						<div class="point_tu">
							<img src="images/controllogo8.png" alt="" >
						</div>
						<span>总览</span>
						<div class="control_main_center_tu ">
							<img src="images/controllogo9.png" alt="" class='point'>
						</div>
					</div>
					<ul class="second clearfix">
						<li class="zhe_change">云主机</li>
					</ul>
				</li>
				<!--计算-->
				<li class="one clearfix">
					<div class="zong computer">
						<div class="point_tu">
							<img src="images/controllogo10.png" alt="" >
						</div>
						<span>计算</span>
						<div class="control_main_center_tu ">
							<img src="images/controllogo9.png" alt="" class='point'>
						</div>
					</div>
					<ul class="second clearfix">
						<li  class="zhe_change">云主机</li>
						<li>云硬盘</li>
					</ul>
				</li>
				<li class="one clearfix">
					<div class="zong">
						<div class="point_tu">
							<img src="images/controllogo11.png" alt="" >
						</div>
						<span>网络</span>
						<div class="control_main_center_tu ">
							<img src="images/controllogo9.png" alt="" class='point'>
						</div>
					</div>
					
					<ul class="second clearfix">
						<li  class="zhe_change">云主机</li>
						<li>系统硬盘镜像</li>
					</ul>
				</li>
				<li class="one clearfix">
					<div class="zong">
						<div class="point_tu">
							<img src="images/controllogo12.png" alt="" >
						</div>
						<span>硬盘</span>
						<div class="control_main_center_tu ">
							<img src="images/controllogo9.png" alt="" class='point'>
						</div>
					</div>
					
					<ul class="second clearfix">
						<li  class="zhe_change">云主机</li>
						<li>云硬盘</li>
						<li>系统硬盘镜像</li>
					</ul>
				</li>
				<li class="one clearfix">
					<div class="zong">
						<div class="point_tu">
							<img src="images/controllogo13.png" alt="" >
						</div>
						<span>负载均衡</span>
						<div class="control_main_center_tu ">
							<img src="images/controllogo9.png" alt="" class='point'>
						</div>
					</div>
					
					<ul class="second clearfix">
						<li  class="zhe_change">云主机</li>
						<li>云硬盘</li>
						<li>系统硬盘镜像</li>
					</ul>
				</li>
				<li class="one clearfix">
					<div class="zong">
						<div class="point_tu">
							<img src="images/controllogo8.png" alt="" >
						</div>
						<span>个人中心</span>
						<div class="control_main_center_tu ">
							<img src="images/controllogo9.png" alt="" class='point'>
						</div>
					</div>
					
					<ul class="second clearfix">
						<li  class="zhe_change">云主机</li>
						<li>云硬盘</li>
						<li>系统硬盘镜像</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="control_main_footer">
			<img src="images/controllogo14.png" alt="">
		</div>
	</div>

	<!-- 右边这里是新建云主机的页面-->
	<div class="new_build">
		<div style="height: 100%;">
			<div class="new_con">
				<!--内容里上面的返回按钮-->
				<div class="new_up">
					<span><a href="cloudhost.html"><<  返回</a></span>
				</div>
				
				<!--内容里下面-->
				<div class="new_under">
					<form action="">
						<div class="new_under_left">
							<!--基础配置-->
							<div class="new_build_price">
								<div class="new_base_title">基础配置</div>
								
								<div class="new_base_conter">
									<ul>
										<!--机型-->
										<li>
											<div class="new_con_pd clearfix">
												<label for="" class="new_label"><span>机型</span></label>
												<div class="new_step_trol">																									
														<ul class="biao_button_ul clearfix">
															<li class="biao_button biao_button_active"><span>标准机型</span></li>
															<li class="biao_button"><span>SSD高性能机型</span></li>
														</ul>												
												</div>
											</div>
										</li>
										<!--cpu-->
										<li>
											<div class="new_con_pd clearfix">
												<label for="" class="new_label"><span>CPU</span></label>
												<div class="new_step_trol">																									
													<ul class="biao_button_ul biao_button_he clearfix" id="jsCpuBox">
														<li class="biao_button " ng-class="{true: 'biao_button_active', false: ''}[$index == 0]" ng-click="selectFun($index)" ng-repeat="data in cpudataList" >{{data.cpuName}}核</li>
													</ul>												
												</div>
											</div>
										</li>
										<!--内存-->
										<li>
											<div class="new_con_pd clearfix">
												<label for="" class="new_label">内存</label>
												<div class="new_step_trol">																									
													<ul class="biao_button_ul clearfix" id="jsNcBox">
														<li class="biao_button" ng-class="{true: 'biao_button_active', false: ''}[$index == 0]" ng-repeat="data in dataInfo" ng-click="seleF($index)" >{{data.gn}}G</li>
													</ul>												
												</div>
											</div>
										</li>
										<!--镜像-->
										<li>
											<div class="new_con_pd clearfix">
												<label for="" class="new_label">镜像</label>
												<div class="new_step_trol">																									
													<ul class="biao_button_ul clearfix">
														<select name="" style="width: 160px;height: 30px;border: 1px solid #ccc;" ng-click="jingFF()">
															<option value="" ng-repeat="one in imagesImg">{{one.imag}}</option>
														</select>
														<select name="" style="width: 160px;height: 30px;border: 1px solid #ccc;">
															<option value="" ng-repeat="one in jxdetails_list">{{one.details}}</option>
														</select>
													</ul>	
												</div>
											</div>
										</li>
										<!--系统盘-->
										<li>
											<div class="new_con_pd clearfix">
												<label for="" class="new_label">系统盘</label>
												<div class="new_step_trol">																									
														<ul class="biao_button_ul clearfix">
															<span style="line-height: 30px; color:#4074e1 ;">赠送Linux( 20G )</span>
														</ul>												
												</div>
											</div>
										</li>
										<!--数据盘-->
										<li>
											<div class="new_con_pd clearfix">
												<label for="" class="new_label">数据盘</label>
												<div class="new_step_trol">																									
													<ul class="biao_button_ul clearfix">
														<div class="unfold" style="display: inline-block;">			
															<div class="item" style="position: relative;">		
																
																<div class="slider" style="width: 400px;">
																	<div class="slider-track">
																		<div class="slider-selection" id="yunAgainWidth" style="width:0%;"></div>
																		<div class="slider-handle round" id="yunAgainLeft" style="left: 0%;"></div>
																	</div>
																</div>
																
																<input type="text" name="bandwidth" id="bandwidthId" value="1" class="preview mini"/>
																<span class="help inline">G</span>
															</div>
														</div>
													</ul>												
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<!--网络配置-->
							<div class="new_build_price">
								<div class="new_base_title">网络配置</div>
								<div class="new_base_conter">
									<ul>
										<!--类型-->
										<li>
											<div class="new_con_pd clearfix">
												<label for="" class="new_label"><span>类型</span></label>
												<div class="new_step_trol">																									
													<ul class="biao_button_ul clearfix">
														<li class="biao_button biao_button_active basic">基础网络</li>
														<li class="biao_button si_you">私有网络</li>
													</ul>
												</div>
											</div>
										</li>
										<!--外网弹性IP-->
										
										<li>
											<div class="new_con_pd clearfix">
												<label for="" class="new_label"><span>外网弹性IP</span></label>
											</div>
										</li>
										<div class="wai_net_ip">
											<ul>
												<!--线路-->
												<li>
													<div class="new_con_pd clearfix">
														<label for="" class="new_label"><span>线路</span></label>
														<div class="new_step_trol">																									
															<ul class="biao_button_ul clearfix">
																<li class="biao_button biao_button_active">BGP</li>
															</ul>
														</div>
													</div>
												</li>
												<!--计费方式-->
												<li>
													<div class="new_con_pd clearfix">
														<label for="" class="new_label"><span>计费方式</span></label>
														<div class="new_step_trol">																									
															<ul class="biao_button_ul clearfix">
																<li class=" biao_button_active">带宽计费</li>
															</ul>
														</div>
													</div>
												</li>
												<!--带宽-->
												<li>
													<div class="new_con_pd clearfix">
														<label for="" class="new_label"><span>带宽</span></label>
														<div class="new_step_trol">																									
															<ul class="biao_button_ul clearfix">
																<div class="unfold" style="display: inline-block;">			
																	<div class="item" style="position: relative;">		
																		
																		<div class="slider" style="width: 400px;">
																			<div class="slider-track">
																				<div class="slider-selection" id="yunAgainWidth" style="width:1%;"></div>
																				<div class="slider-handle round" id="yunAgainLeft" style="left: 1%;"></div>
																			</div>
																		</div>
																		
																		<input type="number" name="bandwidth" id="daik-inp" value="1" class="preview mini" />
																		<span class="help inline">M</span>
																	</div>
																</div>
															</ul>
														</div>
													</div>
												</li>
											</ul>
										</div>
										
										<!--不买外网IP的时候-->
										<div class="no_buy" style="display: none;">
											<p>不购买弹性IP，则该主机仅支持内网访问，您可以在基础网络选项中购买IP</p>
										</div>
										<!--防火墙-->
										<li>
											<div class="new_con_pd clearfix">
												<label for="" class="new_label"><span>防火墙</span></label>
												<div class="new_step_trol">																									
														<ul class="biao_button_ul clearfix">														
															<select name="" style="height: 34px;">
																<option value="">非Web服务器推荐(22，3389)</option>
																<option value="">Web服务器推荐(22，3389，80，443)</option>
															</select>													
														</ul>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<!--管理设置-->
							<div class="new_build_price">
								<div class="new_base_title">管理设置</div>
								<div class="new_base_conter">
									<ul>
										<!--主机名称-->
										<li>
											<div class="new_con_pd clearfix">
												<label for="" class="new_label"><span>主机别名</span></label>
												<div class="new_step_trol">																									
														<input type="text" name="" id="" value="" />											
												</div>
											</div>
										</li>
										<!--默认管理员-->
										<li>
											<div class="new_con_pd clearfix">
												<label for="" class="new_label"><span>默认管理员</span></label>
												<div class="new_step_trol">																									
													<span class="root_yd">root</span>	
													<span>若在系统内更改了管理员用户名，则无法在控制台中重置管理员密码</span>
												</div>
											</div>
										</li>
										<!--管理员密码-->
										<li>
											<div class="new_con_pd clearfix">
												<label for="" class="new_label"><span>管理员密码</span></label>
												<div class="new_step_trol">																									
													<input type="text" name="" id="" value="" />
												</div>
											</div>
										</li>
										<!--确认密码-->
										<li>
											<div class="new_con_pd clearfix">
												<label for="" class="new_label"><span>确认密码</span></label>
												<div class="new_step_trol">																									
													<input type="text" name="" id="" value="" />
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!--合计的费用-->
						<div class="new_under_right" style="width: 335px;">
							<!--数量-->
							<div class="new_right_gg">
								<ul>
									<li>
										<div class="new_right_yd">
											<label for="">购买数量</label>
											<div class="price_three_nine">
												<div class="">
									    			<input type="text" name=""  id="jsTsBox" value="1" readonly="readonly"/>
									    			<span>台</span>
									    		</div>
									    		<div class="">
									    			<span id="jsYrisen" zenga="1" class="du_li">∧</span>
									    			<span id="jsYreduce" jiana="1">∨</span>
									    		</div>
									    	</div>	
										</div>
									</li>
									<!--云主机配额-->
									<li>
										<div class="new_right_yd">
											<label for="">云主机配额</label>
											<div class="price_three_nine price_number">
												<span>5</span>
												<span>/</span>
												<span>5</span>
												<span>台</span>
											</div>
											
										</div>
									</li>
									<!--弹性IP配额-->
									<li>
										<div class="new_right_yd">
											<label for="">弹性IP配额</label>
											<div class="price_three_nine price_number">
												<span>5</span>
												<span>/</span>
												<span>5</span>
												<span>台</span>
											</div>
											
										</div>
									</li>
									<p>申请配额，请联系客户经理</p>
								</ul>
							</div>
							<!--付费方式-->
							<div class="new_right_gg">
								<div class="method clearfix">
									<label for="" class="new_label">付费方式</label>
									<div class="method_sele">
										<select class="method_sele_price" style="margin-bottom: 20px;" ng-click="changeff()">
	  			                               <option ng-repeat="one in optionArr" value="">{{one.amode}}</option>
	  		                            </select>
								  		<select class="method_sele_price" ng-click="changeffdeta()">
								  			<option ng-repeat="one in ffdetails_list" value="{{one.ffdetaid}}">{{one.payTime}}</option>
								  		</select>
							  		</div>
								</div>
							</div>
							<!--合计费用-->
							<div class="new_right_gg">
								<div class="add_up ">
									<label for="" class="add_up_lab">合计费用 </label>
									<div class="add_money">
										<span class="add_money_tal" id="allPrice">元</span>
									</div>
								</div>
								<!--立即购买-->
								<div class="add_up">
									<label for="" class="add_up_lab">    </label>
									<div class="add_money get_now">
										<input type="button" name="" id="" value="立即购买" class="get_new_in"/>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				
			</div>
		</div>
	</div>
</div>	
<script src="js/angular.min.js"></script>
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/common.js"></script>
<script src="js/control.js"></script>
<script src="js/newbuild.js"></script>
<script src="js/newbuild-ng.js"></script>
</body>
</html>
